/* Home.css */
.home  {
    min-height: 100vh; /* This ensures that the background covers the full viewport height */
    overflow-x: hidden; /* Hide horizontal overflow */
    background-color: gold;
}
